@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin: 0 40px;
  min-height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1200px;
  flex-grow: 1;
}

html {
  height: auto;
  background-color: #F2F2F2;
}

.header {
  display: flex;
  background-color: #FFFFFF;
  color: #000000;
  width: 1200px;
  height: 64px;
  position: relative;
}

.navigation {
  padding: 0;
  width: 1200px;
  display: flex;
}

.navigation-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding: 0;
  width: 339px;
  margin: 0;
}

.navigation-user {
  display: flex;
  align-items: center;
  padding: 0;
  width: 268px;
  margin-right: 70px;
  margin-left: auto;
}

.navigation-logo {
  width: 140px;
  height: 70px;
  margin-right: 30px;
  margin-left: 70px;
}

.page-header-logo {
  width: 100%;
  height: 100%;
}


.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: left;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
  text-transform: capitalize;
}

.navigation-item {
  list-style-type: none;
  padding: 20px 16px;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo-header {
font-size: 16px;
line-height: 20px;
text-align: center;
color: #FFFFFF;
text-transform: uppercase;
background-color: #756157;
}

.main-index {
  color:#000000;
  background-color: #FFFFFF;
}

.hero {
  background-image: url(../images/hero/hero-footer.svg), url(../images/hero/hero-background.jpg);
  background-position: bottom, top;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  display: flex;
  width: 1200px;
  max-height: 485px;
}

.hero-background-position {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1200px;
  margin-top: 51px;
  margin-bottom: 82px;
}

.description {
  display: flex;
  flex-direction: column;
}

.description-main {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 69px 290px 25px
}

.description-main-title {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin: 0 274px 90px 275px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.advantages-heading {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  margin: 0 auto;
}

.advantages-discription {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantages-heading.photo {
  color: #FFFFFF;
}

.advantages-item {
  display: flex;
  background-color: rgba(131, 179, 211, 0.12);
  align-items: center;
  max-height: 384px;
}

.advantages-item.photo {
  background-color: #82B3D3;
}

.title-photo {
  max-height: 384px;
}

.advantages-item-icon {
  display: flex;
  max-width: 400px;
  background-color: rgba(131, 179, 211, 0.2);
}

.icon {
  display: flex;
  margin: 80px auto 30px;
}

.foto-bridge {
  order: -1;
  max-height: 384px;
}

.advantages-title {
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
}

.advantages-title.bright {
  background-color: rgba(131, 179, 211, 0.2);
}



.advantages-discription.photo {
  color: #FFFFFF;
}

.advantages-discription.icon {
margin: 30px 85px 81px;

}

.advantages-title.food {
  background-color: #FFFFFF;
}

.line-photo {
  width: 60px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 0 auto;
}

.line {
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 0 auto;
}

.search-title {
  display: flex;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  justify-content: center;
}

.search-title-offers {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin: 10px 0 62px;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
}

.search-title-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 592px;
  margin: 96px 304px;
}

.search-hotels {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756157;
  text-decoration: none;
  display: flex;
  padding: 8px 50px;
  border-radius: 4px;
}

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../images/subscribe/subscribe-backgrond.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #756157;
  color: #FFFFFF;
}

.subscribe-title-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 96px 258px 104px;
}

.subscribe-title {
 font-size: 30px;
 line-height: 36px;
 text-align: center;
 text-transform: uppercase;
 margin: 0;
}

.subscribe-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 20px auto 54px auto;
  display: flex;
  align-items: center;
}

.field::placeholder {
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  opacity: 0.6;
}

.nsubscribe-form {
  display: flex;
}

.field {
  padding: 12px 20px;
  border: 0;
  border-radius: 4px 0 0 4px;
  font-size: 18px;
  line-height: 24px;
  background-color: #F2F2F2;
  width: 432px;
}

.subscribe-button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
  border-radius: 0 4px 4px 0;
  border: none;
  padding: 8px 50px;
  width: 232px;
}

.footer {
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
}

.footer-social {
  display: flex;
  align-items: center;
  margin: 45px 70px 35px;
  width: 1200px;
  max-height: 50px;
  justify-content: space-between;
}

.foter-social-item {
  list-style: none;
}

.footer-social-list {
  display: flex;
  width: 142px;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.contacts-list {
  margin: 0;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  margin: 5px 194px 195px;
}

.filter {
  font-size: 20px;
  line-height: 24px;
  background-color: #000000;
  background-image: url(../images/catalog/catalog-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.filter-title {
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
  font-weight: 700;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

.breadcrumbs-item {
  list-style-type: none;
}

.hotels-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: capitalize;
}

.hotels-filter-item {
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.button-catalog {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
  border: none;
}

.button-catalog.reset {
  background: transparent;
}

.search-result-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.select-control {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotels-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
}

.hotels-card-link {
  text-decoration: none;
}

.hotels-card-list {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.info-card {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756157;
  text-decoration: none;
}

.hotels-card-favorites {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
  border: none;
}

.hotels-card-favorites.checked {
  background-color: #7DB54F;
}

.rating {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background-color: #F2F2F2;
}

.pagination-item {
  list-style: none;
}

.pagination-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-decoration: none;
}

.pagination-link.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.subscribe.catalog {
  background-image: none;
  background-color: #FFFFFF;
  color: #000000;
}
