@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}


body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin: 0 40px;
  min-height: 100%;
}

button {
  font-family: inherit;
}

.container {
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  width: 1200px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

html {
  height: auto;
  background-color: #f2f2f2;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff;
  color: #000000;
  width: 1200px;
  min-height: 64px;
  position: relative;
}

.navigation {
  padding: 0;
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  min-height: 64px;
  position: relative;
}

.navigation-link.current {
  position: relative;
}

.navigation-link.current::before {
  position: absolute;
  min-height: 2px;
  background-color: #756157;
  width: 100%;
  bottom: -1px;
  content: "";
}

.navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0 254px;
  padding: 0;
}

.navigation-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0 50px 0 auto;
}

.navigation-item.user {
  padding: 0 12px;
  position: relative;
}

.navigation-logo {
  width: 140px;
  height: 70px;
  margin-right: 44px;
  margin-left: 70px;
  position: absolute;
}

.page-header-logo {
  width: 100%;
  height: 100%;
  position: absolute;
}

.navigation-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: left;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: capitalize;
  min-height: 64px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation-item {
  list-style-type: none;
  padding: 0 16px;
}

.navigation-item:nth-child(1) {
  padding-left: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation-item.link-header {
  margin: 0 20px;
  max-height: 36px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.link-header:hover {
  background-color: #615048;
}

.navigation-item.link-header:focus {
  background-color: #615048;
  outline: none;
}

.link-header:active {
  background-color: #756157;
  color: #ffffff4d;
}

.link-header:disabled {
  background-color: #e5e5e5;
}

.favorites {
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: #ffffff;
  background-color: #7db54f;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  right: 5px;
  top: 11px;
  padding-top: 5px;
}

.navigation-link:hover {
  fill: #756157;
  color: #756157;
}

.navigation-link:focus {
  fill: #756157;
  color: #756157;
}

.navigation-link:active {
  fill: #7561574d;
  color: #7561574d;
}

.link-header {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  background-color: #756157;
  text-decoration: none;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 34px;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
}

.main-index {
  color: #000000;
  background-color: #ffffff;
}

.hero {
  background-image: url("../images/hero/hero-footer.svg"), url("../images/hero/hero-background.jpg");
  background-position: bottom, top;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1200px;
}

.hero-background {
  margin-top: 51px;
  margin-bottom: 82px;
}

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 282px;
}

.description-main {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  max-width: 620px;
  margin: 8px auto 25px;
}

.description-main-title {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin: 0;
  padding-bottom: 30px;
}

.advantages-heading {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  margin: 0;
  margin-bottom: 30px;
  max-width: 175px;
  text-transform: uppercase;
  order: 1;
}

.icon-heading {
  margin-bottom: 30px;
}

.advantages-item.icon:nth-child(odd) {
  background-color: #ffffff;
}

.advantages-title.icon {
  padding-top: 30px;
}

.advantages-title.photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
}

.advantages-title.photo::before {
  width: 60px;
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
  content: "";
  order: 2;
  margin-bottom: 30px;
}

.advantages-item.line:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-title.line::before {
  content: "";
  width: 60px;
  height: 2px;
  background: rgba(0, 0, 0, 0.3);
  order: 2;
  margin-bottom: 30px;
}

.photo {
  color: #ffffff;
  background-color: #82b3d3;
}

.advantages-discription {
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
  max-width: 230px;
  color: #333333;
  order: 3;
}

.advantages-discription.photo {
  color: #ffffff;
}

.advantages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: rgba(131, 179, 211, 0.12);
  width: 1200px;
}

.advantages-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advantages-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 400px;
  min-height: 384px;
  padding-top: 12px;
}

.search-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search-title-offers {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  padding-bottom: 54px;
  margin: 0;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff;
  min-height: 406px;
}

.search-title-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 592px;
}

.search-hotels {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 50px;
  border-radius: 4px;
}

.search-hotels:hover {
  background-color: #615048;
}

.search-hotels:focus {
  background-color: #615048;
  outline: none;
}

.search-hotels:active {
  background-color: #756157;
  color: #ffffff4d;
}

.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("../images/subscribe/subscribe-backgrond.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #756157;
  color: #ffffff;
  min-height: 415px;
}

.subscribe-title-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding-bottom: 5px;
  max-width: 684px;
}

.subscribe-title {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 20px;
}

.subscribe-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding-bottom: 54px;
}

.field::-webkit-input-placeholder {
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  opacity: 0.6;
}

.field::-moz-placeholder {
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  opacity: 0.6;
}

.field:-ms-input-placeholder {
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  opacity: 0.6;
}

.field::-ms-input-placeholder {
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  opacity: 0.6;
}

.field::placeholder {
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  opacity: 0.6;
}

.subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.field {
  padding: 12px 20px;
  border: 0;
  border-radius: 4px 0 0 4px;
  font-size: 18px;
  line-height: 24px;
  background-color: #f2f2f2;
  width: 452px;
  font-family: inherit;
}

.field:hover {
  background-color: #f2f2f24d;
}

.field:focus {
  outline: none;
}

.subscribe-button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
  border-radius: 0 4px 4px 0;
  border: none;
  padding: 8px 50px;
  width: 232px;
  cursor: pointer;
}

.subscribe-button:hover {
  background-color: #68a2ca;
}

.subscribe-button:focus {
  background-color: #68a2ca;
  outline: none;
}

.subscribe-button:active {
  background-color: #82b3d3;
  color: #ffffff4d;
}

.footer {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px auto 0;
  width: 1060px;
  min-height: 60px;
  padding-bottom: 30px;
  flex-wrap: wrap;
}

.foter-social-item {
  list-style: none;
  width: 47px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.footer-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 142px;
  padding: 0;
  margin: 0;
  list-style-type: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contacts-list {
  margin: 0 auto;
  width: 720px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  margin: 5px 0;
}

.contacts-phone:hover {
  color: #756157;
}

.contacts-phone:focus {
  color: #756157;
  outline: none;
}

.contacts-phone:active {
  color: #756157;
  opacity: 50%;
}

.htmlacademy-link:hover {
  fill: #756157;
}

.htmlacademy-link:focus {
  fill: #756157;
  outline: none;
}

.htmlacademy-link:active {
  fill: #756157;
  opacity: 50%;
}

.social {
  margin-top: 11px;
}

.social svg {
  fill: #83b3d3;
}

.social:hover svg {
  fill: #68a2ca;
}

.social:focus svg {
  fill: #68a2ca;
}

.social:focus {
  outline: none;
}

.social:active {
  fill: #68a2ca;
  opacity: 30%;
}

.developer {
  display: flex;
  flex-wrap: wrap;
  width: 115px;
  margin: 8px 0;
}

.filter {
  font-size: 20px;
  line-height: 24px;
  background-color: #000000;
  background-image: url("../images/catalog/catalog-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 1060px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 35px 70px 70px;
}

.filter-title {
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  font-weight: 700;
  margin: 0;
}

.filter-title-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
}

.breadcrumbs {
  padding: 5px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.house-catalog {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

.breadcrumbs-link:hover {
  color: #ffffff4d;
}

.breadcrumbs-link:focus {
  border-radius: 4px;
  outline: none;
}

.breadcrumbs-link:active {
  color: #ffffff4d;
}

.index-icon {
  fill: #ffffff;
}

.index-icon:hover {
  fill: #ffffff4d;
}

.index-icon:focus {
  fill: #ffffff4d;
}

.index-icon:active {
  fill: #ffffff4d;
}

.breadcrumbs-item {
  list-style-type: none;
  margin-left: 18px;
  margin-right: 10px;
}

.breadcrumbs-item:nth-child(1) {
  margin-left: 0;
}

.breadcrumbs-item.next {
  position: relative;
}

.arrow-next {
  position: absolute;
  left: -18px;
  top: 8px;
}

.filter-button-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 70px;
  margin-top: 56px;
}

.hotels-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-transform: capitalize;
  padding: 0;
  padding-bottom: 33px;
}

.catalog-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.control {
  position: relative;
  padding-left: 36px;
  display: block;
}

.control-marker {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  top: 1px;
  left: 0;
}

.control:hover {
  opacity: 60%;
}

.control:focus-within .control-marker {
  outline: 3px solid #83b3d3;
  border-radius: 4px;
}

.control:active {
  opacity: 60%;
}

.control-input[type="checkbox"]:checked + .control-marker::before,
.control-input[type="checkbox"]:checked + .control-marker::after {
  position: absolute;
  background-image: url("../images/catalog/checked.svg");
  background-repeat: no-repeat;
  width: 12.2px;
  height: 9.9px;
  left: calc(50% - 12.2px/2 + 0.1px);
  top: calc(50% - 9.9px/2 + 0.45px);
  content: "";
}

.control.radio .control-marker {
  border-radius: 50%;
}

.control.radio .control-input[type="radio"]:checked + .control-marker::before,
.control.radio .control-input[type="radio"]:checked + .control-marker::after {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #3f5e72;
  left: calc(50% - 10px/2 + 0.1px);
  top: calc(50% - 10px/2 + 0.45px);
  border-radius: 50%;
  content: "";
}

.hotels-filter-group {
  border: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 150px;
}

.hotels-filter-group.infra {
  margin-right: 70px;
}

.hotels-filter-group.prise {
  position: relative;
  width: 288px;
  margin-left: 140px;
}

.range-wrapper-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 41px;
}

.range-input {
  height: 48px;
  border: 0;
  padding: 0;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  background-color: #f2f2f2;
}

.range-decor {
  position: absolute;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #0000004d;
}

.range-decor.min {
  left: 107px;
  top: 12px;
}

.range-decor.max {
  right: 20px;
  top: 12px;
}

.range-input.min {
  padding-left: 20px;
  padding-right: 40px;
  border-radius: 4px 0 0 4px;
}

.range-input.max {
  padding-left: 20px;
  padding-right: 40px;
  border-radius: 0 4px 4px 0;
}

.range-input:hover {
  background-color: #e6e6e6;
}

.range-input:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3e3;
}

.range-input:active {
  outline: 2px solid #000000;
}

.range-scale {
  position: relative;
  width: 287px;
  height: 0;
  border: 2px solid #ffffff4d;
  margin-bottom: 10px;
}

.range-bar {
  position: absolute;
  border: 2px solid #ffffff;
  height: 0;
  top: -2px;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 0;
  border: none;
  cursor: pointer;
}

.range-toggle:hover {
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  border: 3px solid #82b3d3;
  background-color: #ffffff;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  outline: none;
}

.range-toggle:active {
  border: 2px solid #83b3d3;
  -webkit-box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
          box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
}

.toggle-min {
  top: -9px;
  left: -4px;
}

.toggle-max {
  right: -4px;
  top: -9px;
}

.hotels-filter-list {
  list-style-type: none;
  border: none;
  margin: 0;
  padding: 0;
}

.hotels-filter-item {
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  margin-bottom: 16px;
}

.hotels-filter-item:nth-last-child(1) {
  margin-bottom: 0;
}

.button-catalog {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
  border: none;
  border-radius: 4px;
  padding: 8px 50px;
  margin-bottom: 32px;
  cursor: pointer;
}

.button-catalog:hover {
  background-color: #68a2ca;
}

.button-catalog:focus {
  background-color: #68a2ca;
  outline: none;
}

.button-catalog:active {
  background-color: #82b3d3;
  color: #ffffff4d;
}

.button-catalog:disabled {
  background-color: #e5e5e5;
}

.button-catalog.reset {
  background: transparent;
  width: 191px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.button-catalog.reset:hover {
  opacity: 60%;
}

.button-catalog.reset:focus {
  border: 3px solid #83b3d3;
  border-radius: 4px;
  outline: none;
}

.button-catalog.reset:active {
  color: #ffffff4d;
}

.button-catalog.reset:disabled {
  opacity: 10%;
}

.search-result-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  margin: 0 auto 0 0;
  padding: 6px 0;
  max-width: 350px;
}

.search-result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff;
  padding: 40px 70px 0;
}

.catalog-hotels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1060px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info-card:hover {
  background-color: #615048;
}

.info-card:focus {
  background-color: #615048;
  outline: none;
}

.info-card:active {
  background-color: #756157;
  color: #ffffff4d;
}

.info-card:disabled {
  background-color: #e5e5e5;
}

.hotels-card-favorites:hover {
  background-color: #68a2ca;
}

.hotels-card-favorites:focus {
  background-color: #68a2ca;
  outline: none;
}

.hotels-card-favorites:active {
  background-color: #82b3d3;
  color: #ffffff4d;
}

.hotels-card-favorites:disabled {
  background-color: #e5e5e5;
}

.hotels-card-favorites.checked:hover {
  background-color: #6c9e42;
}

.hotels-card-favorites.checked:focus {
  background-color: #6c9e42;
  outline: none;
}

.hotels-card-favorites.checked:active {
  background-color: #7bd54f;
  color: #ffffff4d;
}

.hotels-list {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-bottom: 35px;
}

.catalog-hotels::before {
  width: 1060px;
  border: 1px solid #e6e6e6;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  content: "";
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.hotels-card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 140px 20px 140px;
  grid-template-columns: 140px 140px;
  gap: 16px 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding: 19px 0;
}

.hotels-card-image {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.hotels-card-link {
  text-decoration: none;
  margin: 0;
  max-height: 212px;
  grid-column: 1/-1;
}

.hotels-card-title:hover {
  color: #756157;
}

.hotels-card-title:active {
  color: #7561574d;
}

.catalog-card-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  margin-top: 10px;
  flex-wrap: wrap;
}

.button-sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  max-width: 292px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  min-width: 292px;
  height: 48px;
  text-indent: 20px;
  padding: 0;
  margin: 0 0 0 130px;
  background-color: #ffffff;
}

.button-sorting:disabled .arrow-down {
  fill: #0000004d;
}

.arrow-down {
  margin-right: 17px;
}

.button-sorting:hover {
  border: 2px solid #68a2ca;
}

.button-sorting:focus {
  border: 2px solid #68a2ca;
  outline: none;
}

.button-sorting:active {
  border: 2px solid #3f5e72;
}

.button-sorting:disabled {
  border: 2px solid #0000004d;
  color: #0000004d;
}

.sorting-cart-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0 0 0 auto;
  padding: 0;
  max-width: 160px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  justify-content: space-between;
}

.sort-cart {
  margin: 0;
}

.sort-button {
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sort-button.first {
  border: 2px solid #000000;
}

.sorting-cart {
  width: 48px;
  height: 48px;
  margin:0 8px 2px 0;
}

.sorting-cart:nth-child(n+3) {
  margin: 0 0 2px 0;
}

.sort-button:hover {
  border: 2px solid #000000;
}

.sort-button:focus-visible {
  border: 2px solid #68a2ca;
  outline: none;
}

.sort-button:active {
  border: 2px solid #000000;
}

.hotels-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  margin: 0;
}

.hotels-card-list {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin: 0;
}

.hotels-card-list.hotels-card-price {
  text-align: right;
}

.info-card {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  border-radius: 4px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 36px;
}

.hotels-card-favorites {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
  border: none;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 36px;
  padding: 0;
}

.hotels-card-favorites.checked {
  background-color: #7db54f;
}

.star-hotels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 140px;
  min-height: 37px;
}

.star {
  margin-right: 6px;
}

.star:nth-last-child(1) {
  margin: 0;
}

.rating {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background-color: #f2f2f2;
  padding: 9px 22px 8px 23px;
  border-radius: 4px;
}

.main-inner {
  background-color: #ffffff;
}

.pagination {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1060px;
  min-height: 60px;
  padding-bottom: 58px;
  margin-top: 40px;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.pagination-item:nth-last-child(1) {
  margin-right: 0;
}

.pagination-item {
  margin: 0 8px 2px 0;
  width: 60px;
  height: 60px;
  background-color: #82b3d3;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination-link:hover {
  background-color: #68a2ca;
}

.pagination-link:focus {
  background-color: #68a2ca;
  outline: none;
}

.pagination-link:active {
  background-color: #82b3d3;
  color: #ffffff4d;
}

.dot {
  background-color: #ffffff;
  padding: 20px 24px;
}

.pagination-item.current {
  background-color: #f2f2f2;
}

.pagination-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.pagination-link.current {
  color: #000000;
}

.pagination-link.current:hover {
  background-color: #f2f2f2;
}

.pagination-link.current:focus {
  background-color: #f2f2f2;
}

.subscribe.catalog {
  background-image: none;
  background-color: #ffffff;
  color: #000000;
  margin: 0;
  width: 1200px;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(242, 242, 242, 0.8);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}

.modal-container:active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal {
  position: relative;
  background: #ffffff;
  padding: 64px 70px;
  margin: auto;
}

.modal-search {
  width: 717px;
  -webkit-box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
          box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal-content {
  position: relative;
}

.modal-close-button {
  position: absolute;
  right: -18px;
  top: 0;
  width: 52px;
  height: 52px;
  border: none;
  background-color: #f2f2f2;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.modal-close-button:active {
  opacity: 30%;
  outline: none;
}

.modal-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 64px;
}

.search-form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  margin: 12px 0;
}

.search-form-title.infor {
  margin-left: 4px;
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.search-form-group {
  padding: 0;
  margin: 0;
  border: none;
}

.modal-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 48px;
}

.modal-item-guest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f2f2f2;
  min-width: 110px;
  border-radius: 4px;
}

.search-input {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  padding: 12px 19px;
  background-color: #f2f2f2;
  border-radius: 4px;
  border: none;
  width: 440px;
  font-family: inherit;
}

.search-input.guest {
  width: 31px;
  height: 48px;
  text-align: center;
  padding: 14px 10px;
  border-radius: 0;
}

.search-input::-webkit-input-placeholder {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  opacity: 60%;
}

.search-input::-moz-placeholder {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  opacity: 60%;
}

.search-input:-ms-input-placeholder {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  opacity: 60%;
}

.search-input::-ms-input-placeholder {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  opacity: 60%;
}

.search-input::placeholder {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  opacity: 60%;
}

.search-input:hover {
  background-color: #e6e6e6;
}

.search-input:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
  border-radius: 4px;
}

.search-input:active {
  background: #f2f2f2;
  outline: 2px solid #000000;
  border-radius: 4px;
}

.modal-item.date {
  position: relative;
}

.error {
  position: absolute;
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ff5757;
  width: 320px;
  height: 21px;
  left: 20px;
  top: 53px;
}

.message {
  position: absolute;
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  width: 331px;
  height: 21px;
  left: 20px;
  top: 53px;
}

.modal-date.max-date,
.modal-date.min-date {
  position: absolute;
  right: 22px;
  top: 13px;
  opacity: 30%;
}

.search-guest-field {
  width: 110px;
}

.modal-guest-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  fill: #0000004d;
  cursor: pointer;
  width: 20px;
  height: 20px;
  padding: 0;
}

.modal-guest-button:hover {
  fill: #000000;
}

.modal-guest-button:focus {
  outline: 3px solid #82b3d3;
  border-radius: 4px;
  fill: #000000;
}

.modal-guest-button:active {
  fill: #0000004d;
  outline: none;
}

.modal-item.guest {
  min-width: 247px;
  position: relative;
}

.modal-search-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  width: 100%;
  background-color: #83b3d3;
  border-radius: 10px;
  border: none;
  padding: 18px 0;
  cursor: pointer;
}

.modal-search-button:hover {
  background-color: #68a2ca;
}

.modal-search-button:focus {
  background-color: #68a2ca;
  outline: none;
}

.modal-search-button:active {
  background-color: #68a2ca;
  color: #ffffff4d;
}

.tooltip {
  position: absolute;
  margin-top: 0;
  margin-left: 63px;
  width: 16px;
  height: 15px;
}

.tooltip-toggle {
  border: none;
  background-color: #83b3d3;
  padding: 0;
  margin: 0;
  display: block;
  fill: #ffffff;
  width: 26px;
  height: 27px;
  border-radius: 50%;
  cursor: pointer;
  top: -6px;
  position: absolute;
}

.tooltip-toggle:hover {
  background-color: #68a2ca;
}

.tooltip-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background: #333333;
  color: #ffffff;
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
          box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 18px 18px 25px 22px;
  text-transform: none;
  width: 256px;
  position: absolute;
  margin-bottom: 25px;
  margin-top: 15px;
  left: 24px;
  top: 20px;
  -webkit-transform: translateX(-54%);
      -ms-transform: translateX(-54%);
          transform: translateX(-54%);
  z-index: 2;
  display: none;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip-text::after {
  content: "";
  background-image: url("../images/modal/arrow-modal.svg");
  width: 19px;
  height: 9px;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
